<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'project_index' %}">RP Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'project_index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
            </li>
          </ul>
        </div>
    </div>

</nav> -->

<link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css">

<main class="bg-black">
  <nav class="pa3 pa4-ns helvetica">
    <a class="link dim white b f1 f-headline-ns tc db mb3 mb4-ns" href="{% url 'home' %}" title="Home">Kegan&rsquo;s Django Playground</a>
    <div class="tc pb3">
      <a class="ttu tracked link dim gray f6 f5-ns dib mr3" href="{% url 'home' %}" title="Home">Home</a>
      <a class="ttu tracked link dim gray f6 f5-ns dib mr3" href="{% url 'project_index' %}" title="Projects">Projects</a>
      <a class="ttu tracked link dim gray f6 f5-ns dib mr3" href="{% url 'blog_index' %}" title="Blog">Blog</a>
      <a class="ttu tracked link dim gray f6 f5-ns dib" href="#" title="Contact">Contact</a>
    </div>
  </nav>

  <div class="container">
    {% block page_content %}{% endblock %}
  </div>
</main>